@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC|Raleway);

body {
	color: #95a5a6;
	background-color: #354a5f;
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
}

h1 {
	color:#95a5a6;
	font-family: 'Playfair Display SC', serif;
}

title {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

#slogan {
	font-family: 'Playfair Display SC', serif;
	font-style: italic;
}

p {
	font-family: 'Raleway', sans-serif;
}