@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400);

body {
	color: #95a5a6;
	background-color: #354a5f;
	font-family: 'Fira Sans', sans-serif;
	font-size: 24px;
}

h1 {
	color:#95a5a6;
	font-weight: bold;
}

p {
	font-family: 'Fira Sans', sans-serif;
}

#slogan {font-style: italic;}
