@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Playfair+Display+SC|Raleway:300);

title {
	font-family: 'Playfair Display', serif;
}

#slogan {
	font-family: 'Playfair Display', serif;
	font-size: 1.75em;
}

h1 {
	color:#95a5a6;
	font-family: 'Playfair Display', serif;
	font-size: 50px
	}

p {
	font-family: 'Raleway', sans-serif;
}

body {
	color: #95a5a6;
	background-color: #354a5f;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;

}

h2 {
	color: #95a5a6;
	background-color: #354a5f;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.85em;
}

ul {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 16px
}

